@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="/css/btn-hover.css">

<section class="projects-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Pick your workout plan</h2>
            <p class="text-center">What are your fitness goals Powerlifting (Strength), Bodybuilding (Physique), or Power-building (Hybrid)</p>
        </div>
        </div>
</section>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card login-logout-tab">
            <div class="card-content">
                <div class="row">
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @RenderSection("Scripts", required: false)
}