@model GymBuddy.Models.ViewModels.PowerbuildingVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Power-Building workout</h1>

<div class="table-responsive container table-sm">
    <h3 class="text-center" style="color: #b88746;">Week 1</h3>
    <table class="table">
        <partial name="~/Views/PowerBuildingWorkouts/PowerbuildPartials/_Week1Partial.cshtml" />
    </table>
</div>
<div class="table-responsive container table-sm">
    <h3 class="text-center" style="color: #b88746;">Week 2</h3>
    <table class="table">
        <partial name="~/Views/PowerBuildingWorkouts/PowerbuildPartials/_Week2Partial.cshtml" />
    </table>
</div>
<div class="table-responsive container table-sm">
    <h3 class="text-center" style="color: #b88746;">Week 3</h3>
    <table class="table">
        <partial name="~/Views/PowerBuildingWorkouts/PowerbuildPartials/_Week3Partial.cshtml" />
    </table>
</div>
<div class="table-responsive container table-sm">
    <h3 class="text-center" style="color: #b88746;">Week 4</h3>
    <table class="table">
        <partial name="~/Views/PowerBuildingWorkouts/PowerbuildPartials/_Week4Partial.cshtml" />
    </table>
</div>

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.PowerBuildingWorkout.Id">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
